############################
# Base application settings
############################

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/1

MONGODB_URL=mongodb://user:password@localhost:27017/app_db

LOG_LEVEL=DEBUG

LOG_TG_LEVEL=INFO
LOG_TG_TOKEN=123456789:telegram-bot-token
LOG_TG_CHAT=-1001234567890

# Comma-separated lists
NOTIFIERS=KAFKA,TELEGRAM,TELEGRAM_VERBOSE
SCRAPERS=HABR,HH


############################
# Habr scraper
############################

HABR_SCRAPER_URLS="
/api/frontend/vacancies?q=go&sort=relevance&type=all&remote=true&currency=RUR
/api/frontend/vacancies?q=golang&sort=relevance&type=all&remote=true&currency=RUR
"


############################
# HeadHunter scraper
############################

HH_SCRAPER_URLS="
/search/vacancy?text=Python
/search/vacancy?text=FastAPI
/search/vacancy?text=Go&salary=&ored_clusters=true&hhtmFrom=vacancy_search_list&hhtmFromLabel=vacancy_search_line&items_on_page=100
/search/vacancy?text=Golang&salary=&ored_clusters=true&suggestId=d6dfa5da-9f00-47ff-a907-e09e0e3f4e46&hhtmFrom=vacancy_search_list&hhtmFromLabel=vacancy_search_line&items_on_page=100
"


############################
# Kafka notifier
############################

# Comma-separated list
KAFKA_NOTIFIER_SERVERS=localhost:9092,localhost:9093


############################
# Telegram notifier
############################

TG_NOTIFIER_TOKEN=123456789:telegram-bot-token
TG_NOTIFIER_CHAT=-1001234567890


############################
# Telegram verbose notifier
############################

TG_VERBOSE_NOTIFIER_TOKEN=123456789:telegram-bot-token
TG_VERBOSE_NOTIFIER_CHAT=-1001234567890

