CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BACKEND_URL=redis://localhost:6379/1

MONGODB_URL=mongodb://admin:admin@localhost:27017/vacancies?authSource=admin
LOG_LEVEL=INFO

LOG_TG_LEVEL=WARNING
LOG_TG_TOKEN=
LOG_TG_CHAT=

TG_NOTIFIER_TOKEN=
TG_NOTIFIER_CHAT=
TG_NOTIFIER_CHAT_VERBOSE=

